
.header{
    padding:0 2.5rem;
    height:4rem;
    background: rgb(197, 239, 214);
    background: linear-gradient(#abf589,rgba(240, 218, 155, 0.933));
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.img{
    height:5rem;
}